@model RegisterViewModel
@{
    ViewData["Title"] = "注册";
}

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit">提交</button>
</form>

