@model HaiwellFuture.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Haiwell Future</title>
</head>
<body>
    <div>
        <label></label>
    </div>
</body>
</html>
